.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #c2ccff;

    .categories {
        display: flex;
        list-style: none;
        gap: 25px;
    }

    .base-link {
        text-decoration: none;
        font-size: 20px;
        color: rgb(46, 26, 138);
        font-weight: 600;
    }

    .cartwidget{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.active-link {
    color: #6276da;
    font-weight: 800;
}